@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

html {
    font: inherit;
    font-family: "Roboto", sans-serif;
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.navbar {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;

        li {
            margin-left: 10px;
        }
    }
}

// main view

.home-view {
    display: grid;
    grid-template-columns: 1fr 2fr;

    img {
        width: 100%;
    }
}

.home-view__info {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .heading1 {
        padding: 20px 0;
    }

    .buttton-wrapper {
        padding: 20px 0;
    }
}

.heading1 {
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 10px;
}

.button {
    background-color: rgb(170, 156, 209);
    border-radius: 10px;
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    color: #ffffff;
}
