$layout-breakpoint-small: 700px;
$white: #ffffff;
$blue: #a2a6f2;
$yellow: #f28c0f;
$bright-blue: #5854bf;
$pale-blue: #dfdcf2;
$dark-text: rgb(18, 7, 44);
$light-text: rgb(146, 146, 150);

html {
    font: inherit;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: $dark-text;
}

.main-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.heading1 {
    font-size: 64px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 10px;
}

.bright-text {
    color: $yellow;
}

%button {
    border-radius: 15px;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover, &:focus {
        cursor: pointer;
    }
}

.button {
    @extend %button;
    background-color: $blue;
    color: $white;   

    &:hover, &:focus {
        background-color: $bright-blue;
    }
}

.button--outline {
    @extend %button;
    background-color: $white;
    outline: 2px solid $bright-blue;
    color: $bright-blue;
    &:hover, &:focus {
        background-color: $bright-blue;
        color: $white;
    }
}


.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0;
    justify-content: space-between;

    .logo {
        font-weight: 700;
    }

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;

        li {
            margin-left: 15px;

            a {
                color: $dark-text;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }


        }

    }

    .button {
        color: $dark-text;
    }
}

