@use "./base.scss";

.home-view {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 8vh 0;

    img {
        width: 100%;
    }

    @media (max-width: base.$layout-breakpoint-small) {
        grid-template-columns: 1fr;
        padding: 3vh 0;
    }
}

.home-view__img {
    align-self: center;
}

.home-view__info {
    display: flex;
    flex-direction: column;
    // justify-content: center;

    .heading--main {
        padding: 10px 0 20px 0;

        span {
            font-weight: 500;
            font-size: 28px;
            display: block;
            margin-top: 8px;
            letter-spacing: 7px;
        }
    }

    .buttton-wrapper {
        padding: 50px 0 10px 0;
    }
}
