@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* box-sizing reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  border: none;
}

html {
  font: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #12072c;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading--main {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading--section {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding: 8px 10px;
}

.paragraph {
  line-height: 2;
  color: #929296;
}

.bright-text {
  color: #f28c0f;
}

.button--outline, .button {
  border-radius: 15px;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.button--outline:hover, .button:hover, .button--outline:focus, .button:focus {
  cursor: pointer;
}

.button {
  background-color: #a2a6f2;
  color: #ffffff;
}
.button:hover, .button:focus {
  background-color: #5854bf;
}

.button--outline {
  background-color: #ffffff;
  outline: 2px solid #5854bf;
  color: #5854bf;
}
.button--outline:hover, .button--outline:focus {
  background-color: #5854bf;
  color: #ffffff;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 16px;
}

.navbar {
  display: flex;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}
.navbar ul a {
  color: #12072c;
  text-decoration: none;
}
.navbar ul a:hover {
  text-decoration: underline;
}
.navbar ul a:hover.button {
  text-decoration: none;
}
.navbar .button {
  color: #12072c;
}
@media (max-width: 700px) {
  .navbar {
    position: fixed;
    inset: 0 0 0 20%;
    background-color: #12072c;
    opacity: 0.9;
    justify-content: center;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 350ms ease-in;
  }
  .navbar[data-visible=true] {
    transform: translateX(0%);
  }
  .navbar ul {
    flex-direction: column;
    justify-content: center;
  }
  .navbar ul a {
    font-size: 16px;
    color: #ffffff;
  }
}

.nav-toggle {
  display: none;
}
@media (max-width: 700px) {
  .nav-toggle {
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: url(/images/bars-solid.svg);
    background-repeat: no-repeat;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 9999;
  }
  .nav-toggle:hover {
    cursor: pointer;
  }
  .nav-toggle[aria-expanded=true] {
    background: url(/images/times-solid.svg);
    background-repeat: no-repeat;
  }
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  font: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #12072c;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading--main {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading--section {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding: 8px 10px;
}

.paragraph {
  line-height: 2;
  color: #929296;
}

.bright-text {
  color: #f28c0f;
}

.button--outline, .button {
  border-radius: 15px;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.button--outline:hover, .button:hover, .button--outline:focus, .button:focus {
  cursor: pointer;
}

.button {
  background-color: #a2a6f2;
  color: #ffffff;
}

.button:hover, .button:focus {
  background-color: #5854bf;
}

.button--outline {
  background-color: #ffffff;
  outline: 2px solid #5854bf;
  color: #5854bf;
}

.button--outline:hover, .button--outline:focus {
  background-color: #5854bf;
  color: #ffffff;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 16px;
}

.navbar {
  display: flex;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.navbar ul a {
  color: #12072c;
  text-decoration: none;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar ul a:hover.button {
  text-decoration: none;
}

.navbar .button {
  color: #12072c;
}

@media (max-width: 700px) {
  .navbar {
    position: fixed;
    inset: 0 0 0 20%;
    background-color: #12072c;
    opacity: 0.9;
    justify-content: center;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 350ms ease-in;
  }

  .navbar[data-visible=true] {
    transform: translateX(0%);
  }

  .navbar ul {
    flex-direction: column;
    justify-content: center;
  }

  .navbar ul a {
    font-size: 16px;
    color: #ffffff;
  }
}
.nav-toggle {
  display: none;
}

@media (max-width: 700px) {
  .nav-toggle {
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: url(/images/bars-solid.svg);
    background-repeat: no-repeat;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 9999;
  }

  .nav-toggle:hover {
    cursor: pointer;
  }

  .nav-toggle[aria-expanded=true] {
    background: url(/images/times-solid.svg);
    background-repeat: no-repeat;
  }
}
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.home-view {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 8vh 0;
}
.home-view img {
  width: 100%;
}
@media (max-width: 700px) {
  .home-view {
    grid-template-columns: 1fr;
    padding: 3vh 0;
  }
}

.home-view__img {
  align-self: center;
}

.home-view__info {
  display: flex;
  flex-direction: column;
}
.home-view__info .heading--main {
  padding: 10px 0 20px 0;
}
.home-view__info .heading--main span {
  font-weight: 500;
  font-size: 28px;
  display: block;
  margin-top: 8px;
  letter-spacing: 7px;
}
.home-view__info .buttton-wrapper {
  padding: 50px 0 10px 0;
}

html {
  font: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #12072c;
}

.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading--main {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading--section {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding: 8px 10px;
}

.paragraph {
  line-height: 2;
  color: #929296;
}

.bright-text {
  color: #f28c0f;
}

.button--outline, .button {
  border-radius: 15px;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.button--outline:hover, .button:hover, .button--outline:focus, .button:focus {
  cursor: pointer;
}

.button {
  background-color: #a2a6f2;
  color: #ffffff;
}

.button:hover, .button:focus {
  background-color: #5854bf;
}

.button--outline {
  background-color: #ffffff;
  outline: 2px solid #5854bf;
  color: #5854bf;
}

.button--outline:hover, .button--outline:focus {
  background-color: #5854bf;
  color: #ffffff;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  justify-content: space-between;
}

.logo {
  font-weight: 700;
  font-size: 16px;
}

.navbar {
  display: flex;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.navbar ul a {
  color: #12072c;
  text-decoration: none;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar ul a:hover.button {
  text-decoration: none;
}

.navbar .button {
  color: #12072c;
}

@media (max-width: 700px) {
  .navbar {
    position: fixed;
    inset: 0 0 0 20%;
    background-color: #12072c;
    opacity: 0.9;
    justify-content: center;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 350ms ease-in;
  }

  .navbar[data-visible=true] {
    transform: translateX(0%);
  }

  .navbar ul {
    flex-direction: column;
    justify-content: center;
  }

  .navbar ul a {
    font-size: 16px;
    color: #ffffff;
  }
}
.nav-toggle {
  display: none;
}

@media (max-width: 700px) {
  .nav-toggle {
    display: block;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background: url(/images/bars-solid.svg);
    background-repeat: no-repeat;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 9999;
  }

  .nav-toggle:hover {
    cursor: pointer;
  }

  .nav-toggle[aria-expanded=true] {
    background: url(/images/times-solid.svg);
    background-repeat: no-repeat;
  }
}
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh 10px 30px;
}
.form-container p {
  text-align: center;
  max-width: 800px;
}

.registration-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
  width: 100%;
  max-width: 500px;
  padding: 35px 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  background-color: #dfdcf2;
}
.registration-form label {
  display: block;
}
.registration-form input {
  border: none;
  padding: 10px;
  margin-left: 8px;
  border-radius: 10px;
}

.success-msg {
  font-size: 20px;
  padding: 10px 0;
}
